HOST=0.0.0.0
PORT=1337
APP_KEYS=buUmn8rFI19SLvvUEKC57LIz9nHsC9PMejhyKL7+7/I=,AfCLUH68k8qmsYJ5lsLuNtX/yVkoMnrqu5Lf519BwyE=
API_TOKEN_SALT=256/3bjqRbpTkciSy3NrDj3w5UePq/XmKn3RE8py3uc=
ADMIN_JWT_SECRET=DE8izCPG+nXoda2t+Rx9D+8uRUfdKVKUQAG4QP5wJF4=
TRANSFER_TOKEN_SALT=YqpZ86ACtmGBQNk7W026ubP8kQetnz8zmbD9K/pNM4g=
JWT_SECRET=+UlSJRCuHEwsrJcqYvHB8ZvZSA3fX1eaa49o7tJ67/Y=
ENCRYPTION_KEY=jLTSwTpDqvSeA7BOInDVFsyPGk+EDBVpEEpjgX6NgnU=
